body {
	background-color:rgb(240,239,244);
}

.color-purple{color: #9A8AB9;}
.color-orange2{color: #FA8120;}
.color-lightblue{color: #5ADDE9;}
.color-green2{color: #98CB01;}
.color-blue2{color: #1AA3EF;}
.color-grey{color: #DBDBDB;}

.btn-menu-1 {
	background-color:#FF953F;
	height: 100px;
	border: 0;
	color: white;
}

.btn-menu-1:hover {
	background-color:#F57E00;
}

.btn-menu-2 {
	font-size: 32px;
	display: block;
	text-align: center;
}

.labble {
	display: block;
	text-align: center;
}

.form-d {
	background-color: white;
}
.mapproval .btnMenu {
	text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

.mapproval .btnMenuIcon {
	font-size: 46px;
	display: block;
	text-align: center;
	color: #fff;
}
.mapproval .pcount {
	position: relative;
}

.mapproval .btnMenuIcon .count {
	background-color: #f00;
    color: white;
    position: absolute;
    top: -5px;
    border-radius: 10px;
    border-width: 1px;
    font-weight: bold;
    padding: 0px 5px 0;
    font-size: 12px;
    left: -11px;
}

.mapproval .menu a {
	margin: 30px 0 20px 0;
    display: block;
}

.mapproval .menu a:hover {
	text-decoration: none;
}

.mapproval .btn-group-lg>.btn, .btn-lg {
	border-radius: 0px;
}
.mapproval .menuWrapper {
	background-color: rgb(240,239,244);
}

.mapproval .msg {
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
	color: rgb(135,143,154);
	background-color: rgb(248,248,248);
	font-size: 16px;
	border-bottom: 1px solid rgb(219,219,219);
	
}

.mapproval .btn {
	border: 0px;
}

.mapproval .menuWrapper .btn-default{
	color: rgb(135,143,154);
	font-size: 16px;
	border-right: 1px solid #ccc;
    border-bottom: 1px solid rgb(219,219,219);
}

.mapproval .menuWrapper .rightMenu{
	border-right: 0;
}
/*below is the reimbursement page*/
.reimb {
	padding: 0;
	background-color: #fff;
}

.reimb .form-group {
	border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.reimb .control-label {
	padding-top: 6px;
	font-size: 16px;
}

.reimb .bannerTitle {
	height: 42px;
    line-height: 42px;
    background-color: rgb(240,239,244);
    padding: 0px 10px;
    font-size: 13px;
    color: rgb(149,156,166);
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.reimb .form-control {
	border-radius: 0px;
}
.reimb .addMore {
	color: rgb(71,178,252);
    display: block;
    text-align: center;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-decoration:none;
}

.reimb hr {
	margin: 5px 0;
}

/*below is the reimbursements list page*/
.reimbList {
	margin-bottom: 0;
}
.reimbList .name {
    background: rgb(253,148,72);
    line-height: 50px;
    font-size: 16px;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    margin: 3px 0px 3px 5px;
    color: #fff;
}

.reimbList .img {
	margin-left: -5px;
}

.reimbList .list-group-item {
    height: 100px;
    padding: 10px 0;
    border-top: none;
}

.reimbList .list-group-item .headIcon{
    margin-top: 10px;
    text-align: center;
}

.reimbList .time {
	margin-top: 5px;
	color: #ccc;
    font-size: 12px;
    padding: 10px 0;
}

.reimbList .content {
    font-size: 14px;
    padding-left: 0px;
    padding-right: 1px; 
}

.reimbList .content .longText {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.reimbList .statusTodo {
	color: rgb(253,148,72);
}

.reimbList .content .statusDone {
	color: #ccc;
}

.reimbListSearch {
    height: 48px;
    margin-top: 0px;
}
@media (min-width: 768px) {
    .reimbListSearch {
        margin-top: 10px;
        margin-bottom: 0px;
	}
}


/*mindexmyapproval_nav.blade.php*/
.apprNav .wrapper {
	border-bottom: 1px solid #ccc;
}

.apprNav .btnw {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-bottom: 0px;
}

.apprNav .btnw a {
    color: #000;
}
.apprNav .btnw .text {
    margin: 0 15px -2px 15px;
}

.apprNav .btnw a:hover {
    text-decoration: none;
}

.apprNav .btnw .selected {
    border-bottom: 3px solid rgb(30,171,252);
    color: rgb(30,171,252);
}
















