body {
	background-color:#FF953F;
}

.color-purple{color: #9A8AB9;}
.color-orange2{color: #FA8120;}
.color-lightblue{color: #5ADDE9;}
.color-green2{color: #98CB01;}
.color-blue2{color: #1AA3EF;}
.color-grey{color: #DBDBDB;}

.btn-menu-1 {
	background-color:#FF953F;
	height: 100px;
	border: 0;
	color: white;
}

.btn-menu-1:hover {
	background-color:#F57E00;
}

.btn-menu-2 {
	font-size: 32px;
	display: block;
	text-align: center;
}

.labble {
	display: block;
	text-align: center;
}

.form-d {
	background-color: white;
}